/* remove mobile app & feedback buttons */
div[class^="feedback_"] {
    display: none !important;
}
/* remove feedback button from _layouts pages */
a[class='od-UserFeedback-button'] {
  display: none !important;
}
.app{
    background-color: yellow;
}
